/*  Style Sheet for Tea Cozy */

/*    Full Page   */

* {
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
}

/*       HEADER        */

.header-container {
  display: flex;
  position: fixed;
  height: 69px;
  align-items: center;
  border-bottom: 1px solid seashell;
  z-index: 20;
  width: 100%;
}

.logo {
  flex-grow: 1;
  justify-content: flex-start;

}

.logo img {
  height: 50px;
  margin-left: 10px
  padding: 0px 0px;
}
nav {
  margin: auto 10px;
  padding: 0px 0px;
}
nav span {
  display: inline-block;
  margin: auto 10px;
  padding: 0px 0px;
  text-transform: underline;
}

/*       Tea of the Month        */

.tea-of-the-month {
  width: 1000px;
  display: flex;
}

.cards {
  width: 300px;
}

.tea-images {
  height: 200px;
}
